.dark-hc {
  --primary: rgb(255 249 255);
  --surface-tint: rgb(211 188 253);
  --on-primary: rgb(0 0 0);
  --primary-container: rgb(215 192 255);
  --on-primary-container: rgb(0 0 0);
  --secondary: rgb(255 249 255);
  --on-secondary: rgb(0 0 0);
  --secondary-container: rgb(209 198 223);
  --on-secondary-container: rgb(0 0 0);
  --tertiary: rgb(255 249 249);
  --on-tertiary: rgb(0 0 0);
  --tertiary-container: rgb(245 188 201);
  --on-tertiary-container: rgb(0 0 0);
  --error: rgb(255 249 249);
  --on-error: rgb(0 0 0);
  --error-container: rgb(255 186 177);
  --on-error-container: rgb(0 0 0);
  --background: rgb(21 18 24);
  --on-background: rgb(231 224 232);
  --surface: rgb(21 18 24);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(73 69 78);
  --on-surface-variant: rgb(255 249 255);
  --outline: rgb(207 200 211);
  --outline-variant: rgb(207 200 211);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(231 224 232);
  --inverse-on-surface: rgb(0 0 0);
  --inverse-primary: rgb(50 31 85);
  --primary-fixed: rgb(238 226 255);
  --on-primary-fixed: rgb(0 0 0);
  --primary-fixed-dim: rgb(215 192 255);
  --on-primary-fixed-variant: rgb(29 8 64);
  --secondary-fixed: rgb(238 226 252);
  --on-secondary-fixed: rgb(0 0 0);
  --secondary-fixed-dim: rgb(209 198 223);
  --on-secondary-fixed-variant: rgb(25 19 37);
  --tertiary-fixed: rgb(255 223 229);
  --on-tertiary-fixed: rgb(0 0 0);
  --tertiary-fixed-dim: rgb(245 188 201);
  --on-tertiary-fixed-variant: rgb(43 11 22);
  --surface-dim: rgb(21 18 24);
  --surface-bright: rgb(59 56 62);
  --surface-container-lowest: rgb(15 13 19);
  --surface-container-low: rgb(29 27 32);
  --surface-container: rgb(33 31 36);
  --surface-container-high: rgb(44 41 47);
  --surface-container-highest: rgb(54 52 58);
}
